*{
    font-family: 'Courier New', Courier, monospace;
}
.grid-container{
display: grid;
grid-template-columns: 24rem 3fr;
}
.calendar-section{
    border: solid 2px #E2E2E2;
}
.user-container{
    border: solid 2px #E2E2E2;
    font-size: 10px;
}
.user-list{
    display: grid;
    grid-template-rows: 8rem 2fr;

}
.searchbox{
    display: grid;
    margin: 20px;
}
.search{
    position:absolute;
    left:19rem;
    top: 20px;
    opacity: 50%;
}
input:focus{

    outline: none;
}
input{
    opacity: 70%;
}

.calendar-week{
    display: grid;
    
  
    
}
.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; 
}
.calendar__day{
    display: grid;
    text-align: center;
}
h3{
    color: #30424B;
    margin: 0;
}
h4{
    color: #9F9F9F ;
    margin: 0;
}
.calendar{
    border: solid 2px #E2E2E2;
    display: grid;
    
    
}
.numbers{
    display: grid;
    grid-template-columns:1rem;
}
.calendar-info{
    display: flex;
    align-items: center;
    padding: 0 2em;
    text-transform: uppercase;
    font-size: 1.2em;
    align-content: center;
    justify-content: center;
}
.prev,.next{
    color: #E2E2E2;
}
.prev{margin-right:auto;}
.next{margin-left: auto;}
.month, .year{
    padding: .5em 1em
}
.day-container{
    display: grid;
    border:solid 2px#9F9F9F;
    grid-template-columns: repeat(7,1fr);
}

.draggable.dragging{
    opacity:0.5%;
}