@font-face {
    font-family: "general";
src: url(assets/fonts/CandyCake.ttf), url(assets/fonts/CandyCake.eot), url(assets/fonts/CandyCake.otf);
}
*{
    font-family: general,serif;
}
.grid-container{
display: grid;
grid-template-columns: 23rem 3fr;
grid-template-rows: repeat(3, 3fr);
}
.grid-item{
    display: grid;
    border: solid 2px #E2E2E2;
}
.user-container{
    display: grid;
    border: solid 2px #E2E2E2;
    border-right: none;

}
.searchbox{
    display: grid;
    margin: 20px;

}
.search{
    position:absolute;
    left:20rem;
    opacity: 50%;
}
input:focus{

    outline: none;
}
input{
    opacity: 70%;
}
.month-selector{
    display: grid;
    border: solid 3px #E2E2E2;
}
.user-color{
    background-color: ;
}
h4{
    margin: 0;
}